body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  /* YOUR IMAGE NAME */
  background: url("IMG_2226.jpeg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: rgba(255,255,255,0.85);
  padding: 40px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 30px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#yes {
  background: #ff4d6d;
  color: white;
}

#no {
  background: gray;
  color: white;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
